// Appends a sudo element after the element which will clear the float

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.row {
  max-width: 114rem;
  margin: 0 auto; // for placing at center

  @include respond-to-viewport(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  &:not(:last-child) {
    margin-bottom: 80px;

    @include respond-to-viewport(tab-port) {
      margin-bottom: 60px;
    }
  }
  @include clearfix;

  //---- attribute selector
  // selects all class that have name starting with "col-"
  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: 60px;

      @include respond-to-viewport(tab-port) {
        margin-right: 0;
        margin-bottom: 60px;
      }
    }

    @include respond-to-viewport(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    width: calc((100% - 60px) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * 60px) / 3);
  }

  .col-1-of-4 {
    width: calc((100% - 3 * 60px) / 4);
  }

  .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 60px) / 3) + 60px);
  }

  .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 60px) / 4) + 60px);
  }

  .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 60px) / 4) + 2 * 60px);
  }
}
